.auth-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;


    .left-column{
        background-image: url(../../static/assets/images/half-girl.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .right-column{
        .main-logo img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .login-to-access{
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            align-content: center;
            text-align: center;
            align-items: center;
            background-color: #f6f6f6;
        }
    }
}