.footer-body{
        background-color: #F7F7F7;
        margin: 5vh 6vw;

        h1{
        text-align: center;
        }
        .address{
                margin-top: 42px;
                text-align: center;
                border-top: solid black;
        }
}

