.footer-body{
        background-color: #F7F7F7;
        margin: 5vh 6vw;

        p{
                padding: 1vw;
        }

        h1{
        text-align: center;
        }
        .address{
                margin-top: 42px;
                text-align: center;
                border-top: solid black;
                font-family: 'Charm', cursive;
                font-size: 1em;
                word-spacing: 20px;
        }
}

