@import "./header.scss";
@import "./footer.scss";
@import "./home.scss";
@import "./media-queries.scss";

body{
    margin: 0;
    border: 0;
    padding: 0;
    background-clip: #ddd;
    align-items: center;
    align-self: auto;
}