@media (max-width: 700px) {
    body{
        justify-content: center;
        align-content: center;
        align-items: center;
        background-clip: #ddd;
        overflow-x: hidden;
/*        espacios

        border
        planta 
        -pef- for saf*/
    }
    .header-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 400px;
        background-image: url(../../static/assets/images/topbg1.jpg);
        //filter: opacity(22%);

        .first-logo{
            order: 1;
            margin-top: 10px;
            filter: opacity(200%);

            h1{
            order: 2;
        
            }
        }
        .bottega-logo{
            order: 3;
            margin-top: 10px;
            margin-left: 0%;
        }
        .typewriter h1{
            color: #fff;
            filter: brightness(100%);
            order: 4;
            margin-top: 10px;
            font-size: 1.2rem;
            margin-left: 8%;
            width: 400px;
        }
    }

    .home-body{
        .first-txt{
            h1{
                font-size: 35px;
                margin-top: -10px;
            }
            p{
                font-size: 20px;
                margin-top: -5px;
            }

            .square{
                margin-right: none;

                .top{
                    margin-top: -25px;
                    margin-left: -15px;
                    font-size: .8rem;
                }
                .mid{
                    margin-left: -10px;
                    font-size: 1rem; 
                }

                .bot{
                    margin-left: -15px;
                    font-size: .8rem;
                }
            }
        }

        .second-txt{
            h2{
                font-size: 21px;
                margin-bottom: 30px;
            }
            p{
                font-size: 17px;
                margin-top: -25px;
            }
            .income{
                margin-top: -50px;
                padding: 10px;
                box-shadow: none;
                border-bottom: solid #00c274;
                border-radius: 10px;
            }
            ol{  
                margin-left: 5px;
                background-color: #1C1C1C;
         
                 li{
                     padding: 5px;
                     color: #f3f3f3;
                     object-fit: cover;
                     line-height: 22px;;
                     
                     font-size: 0.9rem;  
                     margin: 0px 6vw;
         
                 }
              
             }

             .mid-bg{
                 background-image: none;
             }
        
        }

        .thirt-txt{
           // margin-top: -65px;
            h2{
                font-size: 23px;
            }
            p{
                font-size: 17px;
            }
            .chash-flow-list{
                margin-left: -5px;
                font-size: 15px;
            }
            .sales-isa-list{
                margin-left: -5px;
                font-size: 15px;
            }
        }

        .more-info{
            display: grid;
            grid-template-columns: 1fr;

            .formore-info{
                font-size: 17px;
            }
            .contact-info{
                font-size: 14px;
            }
        }
    }

    .footer-body{

        h1{
            font-size: .99em;
            padding: 15px;
        }

        P{
            font-size: .9rem;
        }

        .address{
            font-size: 0.5em;
            word-spacing: 9px; 
            padding: 10px;
            border-top: solid #00c274;

            &:hover{
                color: #fff;
                background-color: #207b88;
            }
        }
    }
}